<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ordens de Serviço</title> 
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">   
    </head>
  <body>
    <h1>Adicionar OS</h1>
    <form method="POST" action="/">
      <input type="text" name="tecnico" placeholder="Tecnico">
      <input type="text" name="idEquipamento" placeholder="Id-Equipamento">
      <input type="text" name="equipamento" placeholder="Equipamento">
      <input type="text" name="descricaoOS" placeholder="Descrição">
      <input type="submit" value="Add">
    </form> 
  </body>
</html>