<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ordens de Serviço</title> 
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">   
</head>
<body class="container" >
    
    <h1 class="text-center">Ordens de Serviço</h1>
    <h2>{% resultado %}</h2>
    <br>
    <table id="tarefasView" class="table table-hover table-bordered" >
        <thead>
            <tr>
                <td>Descrição</label></td>
                <td>Data</label></td>
            </tr>
        </thead>
        
        <tbody>
        </tbody>
        
        <tfoot>
        </tfoot>
    </table>
 
    <script>
      console.log()
    </script>
</body>
</html>